<h3 class="text-center mb2">General stats</h3>
<table class="table">
  <tbody data-js-recipes>
    <tr>
      <td>Number of recipes</td>
      <td>{{numRecipes}}</td>
    </tr>
    <tr>
      <td>Number of ingredients</td>
      <td>{{numIngredients}}</td>
    </tr>
    <tr>
      <td>Number of users</td>
      <td>{{numUsers}}</td>
    </tr>
    <tr>
      <td>Number of star ratings of recipes</td>
      <td>{{numStarRatingsRecipe}}</td>
    </tr>
    <tr>
      <td>Number of yes/no ratings of recipes</td>
      <td>{{numYesNoRatingsRecipe}}</td>
    </tr>
    <tr>
      <td>Number of yes/no ratings of ingredients</td>
      <td>{{numYesNoRatingsIngredient}}</td>
    </tr>
    <tr>
      <td>Number of tags</td>
      <td>{{numTags}}</td>
    </tr>
    <tr>
      <td>Rating ratio</td>
      <td>{{ratingRatio}}</td>
    </tr>
  </tbody>
</table>
