<h3 class="text-center mb2">General stats</h3>
<table class="table">
  <tbody data-js-recipes>
    <tr>
      <td>Number of recipes</td>
      <td>{{num_recipes}}</td>
    </tr>
    <tr>
      <td>Number of ingredients</td>
      <td>{{num_ingredients}}</td>
    </tr>
    <tr>
      <td>Number of users</td>
      <td>{{num_users}}</td>
    </tr>
    <tr>
      <td>Number of ratings</td>
      <td>{{num_ratings}}</td>
    </tr>
    <tr>
      <td>Number of tags</td>
      <td>{{num_tags}}</td>
    </tr>
    <tr>
      <td>Rating ratio</td>
      <td>{{rating_ratio}}</td>
    </tr>
  </tbody>
</table>
